<!-- imitate this one -->
<footer id="footer" class="dark">
		<div class="container">
  			<div class="row">
    				<div class="col">
       					<p>&copy; {{ "now" | date: "%Y" }} Dmitry Mardukhayev</p>
   				</div>
    				<div class="col">
					<p class="copyrights-menu copyright-links fright clearfix">
						<a href="#">Home</a>/
						<a href="#">Twitter</a>/
						<a href="#">GitHub</a>/
						<a href="#">Blog</a>/
						<a href="#">Contact</a>
					</p>
    				</div>
  			</div>
		</div>
</footer>
