<!-- imitate this one -->
<footer class="default-footer">
		<div class="container">
  			<div class="row">
    				<div class="col">
       					<p>&copy; {{ "now" | date: "%Y" }} Dmitry Mardukhayev</p>
   				</div>
    				<div class="col">
					<p class="copyright-links float-right">
						{% for link in site.data.navigation %}
							<a href="{{ link.url }}" target="_blank">
								{{ link.name }}
							</a>{% if forloop.last == false %}/{% endif %}
						{% endfor %}
					</p>
    				</div>
  			</div>
		</div>
</footer>
