<nav id="topnav" class="navbar navbar-light navbar-toggleable-md fixed-top">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">Dmitry Mardukhayev</a>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% for link in site.data.navigation %}
                {% if link.url != "/" %}
                <li class="nav-item">
                    <a href="{{ link.url }}" class="nav-link" target="_blank">
                        {{ link.name }}
                    </a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
