body {
	padding-top: 6rem;
 #topnav {
	 position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFF;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    height: 60px;
    z-index: 199;
    background-color: #FFF;
    transition: height .4s ease, opacity .3s ease;
	.navbar-brand {
    		color: #444;
    		font-weight: bold;
    		font-size: 21px;
    		letter-spacing: 1px;
    		font-family: 'Raleway', sans-serif;
		&:hover {
			
		color: #1ABC9C;
		}
   	 }

	#navbarNav {
	}
    #navbarNav> ul > li > a {
    color: #444;
    padding-left: 15px;
    padding-right: 15px;
    background:#FFF;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    	&:hover {
		color: #1ABC9C;
	}
    }
 }
}

